.ProjectSummaryCard {
    display: flex;
    margin: 0.5rem 0;
    padding: 2rem 1.5rem;
}

@media (max-width: 750px) {
    .ProjectSummaryCard {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0;
        padding: 2rem 1.5rem;
    }
}

.ProjectSummaryCardButtons {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 750px) {
    .ProjectSummaryCardButtons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-top: 1rem;
    }
}

.ProjectSummaryCardButtons button{
    max-width: 85%;
}

.ProjectSummaryCardContent {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    border-right: 1px solid black;
}

@media (max-width: 750px) {
    .ProjectSummaryCardContent {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
        border-right: 1px solid black;
    }
}

.ProjectSummaryCardContent p {
    margin: 0;
    padding: 0;
}

.CardContentHeader {
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
}
.CardContentDates {
    border-bottom: 1px solid black;
    padding: 0.5rem 0 0.5rem 0;
}

.DeleteConfirmation {
    margin: 0.3rem 0;
    padding: 0.5rem;
}