.RiskSumCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0 0.5rem 0;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    overflow-x: scroll;
}

.RiskBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.RiskSumCardName {
    flex-grow: 1;
    max-width: 56%;
    padding: 0 1.5rem 0 1.5rem;
    text-align: left;
    overflow-wrap: break-word;
}

.RiskFactor {
    padding: 0 1rem 0 1rem;
    min-width: 22%;
}

.RiskMetrics {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    min-width: 22%;
    padding: 1rem 1rem 1rem 1rem;

    text-align: center;
}

.RiskMetrics p{
    margin: 0
}

.RiskComponents {
    padding: 1rem 0 1rem 0;
}

.RiskComponents p{
    margin: 0;
}