.RiskDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RiskMetricButtonBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    padding: 2rem 0 2rem 0;
}

@media (max-width: 1300px) {
    .RiskMetricButtonBar {
        display: flex;
        flex-direction: column;
    }
}

.RiskMetricButtonBar button {
    width: 15rem;
}

.RiskDetailsContent {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.RiskDetailsContent form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.RiskDetailsFactor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid #ced4da;
}

.RiskDetailsFactor input{
    width: 70%;
}

.RiskDetailsTextForm {
    width: 100%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-align: left;
}

.ButtonBox {
    padding-bottom: 2rem;
}

