.LoginPage {
    margin: 10% 15% 0 15%;
    padding: 5% 0 15% 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    text-align: center;
}

.LoginPageTitle {
    font-size: 2rem;
    font-style: italic;
}

.LoginPageInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    padding-bottom: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.LoginPageInputForm input {
    width: 75%;
}