.LoginPage {
    padding: 5% 0 15% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.LoginPageTitle {
    padding-bottom: 2rem;
    font-size: 2rem;
    font-style: italic;
}

.LoginPageInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    padding: 4rem 0;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-shadow: 4px 2px silver;
}

.LoginPageInputForm :nth-child(1) {
    padding-bottom: 0.5rem;
}

.LoginPageInputFormInputField {
    width: 80%;
}


.LoginPageInputForm button {
    margin-top: 0.5rem;
}